body{  
    padding: 0%;
    margin: none;
    background-color: rgba(1, 1, 1, 0.896);
    margin-left: 15%;
    margin-top: 10%;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    }
ul{
    list-style: none;
    display: table;
    width: 300px;
}
li{
    display: table-cell;
    position: relative;
}
a{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    position: relative;
}
a::after{
    background: no-repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background-color: white;
    transition: 0.4s ease-in-out;
    width: 0;
}
a:hover::after{
    width: 100%;
    left: 0;
}
.meio input{
    display: flex;
   width: 35%;
    padding: 5px;
    color: rgb(150, 150, 150);
    border: 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
}
.form{
    color: white;
    margin: 15px;
}


.senhas{
    display: flex;
    gap: 80px;
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}
.fim{
    margin-top: 5%;
    display: flex;
    align-items: center;
    gap: 260px;
}
.botao{
    background-color:#07FF17;
    border-radius: 50px;
    color:rgb(0, 0, 0);
    width: 10%;
    height: 50px;
    border: none;
    
}
.a1{
    color: white;
    font-size: 20px;
}

.img{
    width: 60px;

}
.cadeado{
    position: relative;
    margin-left: 0%;
}